<% @articles.each do |category, articles| %>
  <h3><%= category.name %></h3>
  <ul>
    <% articles.each do |article| %>
      <li><%= link_to article.title, article_path(article) %></a></li>
    <% end %>
  </ul>
<% end %>
